
<% @cleaned_invitations.each do |invitation| %>
    <div class="participant-card">
      <div class="participant-photo">
        <img src="http://placehold.it/100" class="avatar-large">
      </div>
      <div class="participation-content">
        <p><%= invitation.first_name %> <%= invitation.last_name %></p>
      </div>
      <div class="link-top-r">
      </div>
      <!-- Label: la personne a reçu une invitation -->
      <% if invitation.status == "pending"%>
        <a href="#" class="custom-btn link-bottom-r" style="font-size: 10px; background-color: orange; color: white; border: transparent">Pending invite</a>
      <!-- La personne a été crée et on peut lui envoyer une invitation-->
      <% else %>

        <%= link_to "Invite", invite_expedition_invitation_path(@expedition, invitation), class: "participant-link link-bottom-r custom-btn", :method => :post, remote: :true  %>

      <% end %>
      <div class="link-top-r">
        <%= link_to edit_invitation_path(invitation), class: "modal-trigger waves-effect waves-light" do %>
          <%= image_tag 'edit-icon.png', class: "small-logo" %>
        <% end %>
        <%= link_to invitation_path(invitation), method: :delete do %>
          <%= image_tag 'delete-icon.png', class: "small-logo"%>
        <% end %>
      </div>
    </div>
<% end %>
