<% @expedition.participations.each do |participation| %>
  <div class="participant-card">
    <div class="participant-photo">
      <% if participation.user.photo.url.nil? %>
        <img src="http://placehold.it/100" class="avatar-large">
      <% else %>
        <%= image_tag participation.user.photo.url, class: "avatar-large" %>
      <% end %>
    </div>
    <div class="participation-content">
      <%= link_to user_path(participation.user) do %>
        <p><%= participation.user.first_name %> <%= participation.user.last_name %></p>
      <% end %>
      <p><%= participation.user.job.first(20) %></p>
    </div>
    <div class="link-top-r">
      <%= link_to "#modal#{participation.user.id}", class: "modal-trigger waves-effect waves-light" do %>
        <%= image_tag 'edit-icon.png', class: "small-logo" %>
      <% end %>
      <%= link_to expedition_participation_path(@expedition.id, participation.id), method: :delete do %>
        <%= image_tag 'delete-icon.png', class: "small-logo"%>
      <% end %>
    </div>
    <!-- Label: la personne a activé son compte -->
    <a href="#" class="custom-btn link-bottom-r" style="font-size: 10px; background-color: #3BE8B0; color: white; border: transparent">Activated account</a>
  </div>
  <%= render 'users/edit', user: @user %>
<% end %>

<div class="all-invitations" >
 <%= render "participations/invitations_show" %>
</div>


