
<% @expedition.participations.each do |participation| %>
  <div class="participant-card">
    <div class="participant-photo">
      <% if participation.user.photo.url.nil? %>
        <img src="http://placehold.it/100" class="avatar-large">
      <% else %>
        <%= image_tag participation.user.photo.url, class: "avatar-large" %>
      <% end %>
    </div>
    <div class="participation-content">
      <%= link_to user_path(participation.user) do %>
        <p><%= participation.user.first_name %> <%= participation.user.last_name %></p>
      <% end %>
      <p><%= participation.user.job %></p>
    </div>
    <div class="link-top-r">
      <%= link_to "#modal#{participation.user.id}", class: "modal-trigger waves-effect waves-light" do %>
        <%= image_tag 'edit-icon.png', class: "small-logo" %>
      <% end %>
      <%= link_to expedition_participation_path(@expedition.id, participation.id), method: :delete do %>
        <%= image_tag 'delete-icon.png', class: "small-logo"%>
      <% end %>
    </div>
    <!-- Label: la personne a activé son compte -->
    <a href="#" class="label label-success link-bottom-r">Activated account</a>
  </div>
<% end %>

<% @expedition.invitations.each do |invitation| %>
  <div class="participant-card">
    <div class="participant-photo">
      <img src="http://placehold.it/100" class="avatar-large">
    </div>
    <div class="participation-content">
      <p><%= invitation.first_name %> <%= invitation.last_name %></p>
    </div>
    <div class="link-top-r">
    </div>
    <% if invitation.status == "pending"%>
      <a href="#" class="label label-warning link-bottom-r">Pending invite</a>
    <% else %>
      <%= button_to "Invite", invite_expedition_invitation_path(@expedition, invitation), class: "participant-link link-bottom-r" %>

   <!-- Add buttons to edit -->
    <div class="link-top-r">
      <%= link_to edit_invitation_path(invitation), class: "modal-trigger waves-effect waves-light" do %>
        <%= image_tag 'edit-icon.png', class: "small-logo" %>
      <% end %>
      <%= link_to invitation_path(invitation), method: :delete do %>
        <%= image_tag 'delete-icon.png', class: "small-logo"%>
      <% end %>
    </div>

    <% end %>
  </div>
<% end %>




