<% @expedition.participations.each do |participation| %>
  <div class="participant-card">
    <div class="participant-photo">
      <% if participation.user.photo.url.nil? %>
        <img src="http://placehold.it/100" class="avatar-large">
      <% else %>
        <%= image_tag participation.user.photo.url, class: "avatar-large" %>
      <% end %>
    </div>
    <div class="participation-content">
      <%= link_to user_path(participation.user) do %>
        <p><%= participation.user.first_name %> <%= participation.user.last_name %></p>
      <% end %>
      <p><%= participation.user.job %></p>
    </div>
    <div class="link-top-r">
      <%= link_to "#modal#{participation.user.id}", class: "modal-trigger waves-effect waves-light" do %>
        <%= image_tag 'edit-icon.png', class: "small-logo" %>
      <% end %>
      <%= link_to expedition_participation_path(@expedition.id, participation.id), method: :delete do %>
        <%= image_tag 'delete-icon.png', class: "small-logo"%>
      <% end %>
    </div>
    <div class="link-bottom-r">
      <%= link_to "Invite", dashboard_path, class: "participant-link" %>
    </div>
  </div>
<% end %>


