<div id="new-ressource-modal-<%= activity.id %>" class="modal-mat">
  <div class="container">
    <h3 class="modal-title text-center">Create your ressource</h3>
    <div class="row">
      <div class="col s12">
        <%= simple_form_for [@expedition, ressource] do |f| %>
        <div>
          <%= f.input :name, label: "Resource name", placeholder: "Resource name", input_html: {maxlength: 30, style: "border-bottom: 1px solid black;"} %>
          <%= f.input :category, collection: Ressource::RESSOURCES_CATEGORY, prompt: "Resource type" %>
          <%= f.input :url, label: "Resource URL", placeholder: "Resource URL", input_html: {style: "border-bottom: 1px solid black;"} %>
          <%= f.input :description, label: "Resource description", input_html: {maxlength: 1000}, placeholder: "Provide a resource description" %>
          <div class="input-file-container">
            <%= f.input :photo, label: "add a picture", input_html: { class: "hidden", id: "activity_#{activity.id}_resource_photo" }, label_html: { for: "activity_#{activity.id}_resource_photo" } %>
            <%= f.input :photo_cache, as: :hidden, input_html: { id: "activity_#{activity.id}_resource_photo_cache" } %>
            <p class="file-return"></p>
          </div>
          <%= f.input :activity_id, as: :hidden %>
            <div class="modal-footer">
              <%= f.submit "Add resource", class: "btn btn-success" %>
              <a href="#!" class="modal-action modal-close btn red">cancel</a>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    // $( ".input-file-container label").on( "click", function() {
    //    $('#activity_<%= activity.id %>_resource_photo').focus();
    //    return false;
    // });

    $('#activity_<%= activity.id %>_resource_photo').change(function(e) {
      var fileContainer = $(this).parents(".input-file-container:first");
      $(fileContainer).find(".file-return").html(this.value);
    });
  </script>
<% end %>
