

<div class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="flex-box">
          <div class="img-box">
            <% if current_user.photo.url == nil %>
              <img src="http://placehold.it/100" class="avatar-xl">
            <% else %>
              <%= image_tag @user.photo.url, class: "avatar-xl" %>
            <% end %>
          </div>
          <div class="headbox text-center">
            <h2><%= @user.first_name %> <%= @user.last_name %></h2>
            <ul class="list-inline list-unstyled">
              <li><%= @user.job %></li>
            </ul>
            <h4 class="bio">" <%= @user.bio %> "</h4>
            <ul class="list-inline list-unstyled">
              <li>Mail: <%= @user.email %></li>
              <li>Company: <%= @user.company %></li>
            </ul>
            <% if policy(@user).update? %>
              <!-- Modal Trigger -->

              <div class="text-center"><%= link_to "Edit profile", "#modal1", class: "modal-trigger waves-effect waves-light btn" %></div>
              <!--<div class="text-center"><%#= link_to "Edit profile", edit_user_path(current_user), class: "btn" %></div>-->

              <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <h4>Edit your profil</h4>
                  <%= render 'users/edit' %>
                </div>
                <div class="modal-footer">
                  <%= link_to 'submit', "", :onclick => "$('#edit_account').submit()", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <% if policy(@user).update? %>
          <div class="box-line-top">
            <h3>Private information</h3>
            <p>All informations displayed here are only visible by you and the organiser of the Event</p>
            <ul class="list-inline list-unstyled">
              <li><%= @user.diet %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/lateral_navbar' %>

