<div class="lateral-navbar">
  <ul class="nav-sections text-center">
    <li class="nav-li nav-profile-link">
      <%= link_to user_path(current_user), class: "nav-link" do %>
        <%= image_tag "avatar-icon.png", width: '30' %>
      <% end %>
    </li>

    <li class="nav-li">
      <%= link_to dashboard_path, class: "nav-link" do %>
        <%= image_tag "lex-icon.png", width: '30' %>
      <% end %>
    </li>

    <li class="nav-li">
      <%= link_to sourcing_path, class: "nav-link" do %>
        <%= image_tag "sourcing-icon.png", width: '30' %>
      <% end %>
    </li>

    <li class="nav-li">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "rfp-icon.png", width: '30' %>
      <% end %>
    </li>

    <li class="nav-li bottom-sections text-center">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>
      <% end %>
    </li>
  </ul>
</div>

