<div class="lateral-navbar">
  <ul class="nav-sections">
    <li class="nav-li nav-profile-link">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "avatar-icon.png", width: '50' %>
      <% end %>
<!--       <span>"View/Edit profile"</span>
 -->    </li>
    <li class="nav-li nav-lex-link">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "lex-icon.png", width: '50' %>
      <% end %>
<!--       <span>"Manage Learning Expeditions"</span>
 -->    </li>
    <li class="nav-li nav-sourcing-link">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "sourcing-icon.png", width: '50' %>
      <% end %>
<!--       <span>"LEX catalogue"</span>
 -->    </li>
    <li class="nav-li nav-rfp-link">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "rfp-icon.png", width: '50' %>
      <% end %>
<!--       <span>"LEX logistics platform"</span>
 -->    </li>
    <li class="nav-li nav-organizers-link">
      <%= link_to root_path, class: "nav-link" do %>
        <%= image_tag "organizers-icon.png", width: '50' %>
      <% end %>
<!--       <span>"Organizers"</span>
 -->    </li>
  </ul>
</div>
