  <%= render 'shared/lateral_navbar' %>

  <div class="central-content">
    <div class="">
      <div class="">
        <div class="lex-banner" style='background: url(
          <% if @expedition.photo.url == nil %>
            <%= "https://unsplash.it/900/201" %>
          <% else %>
            <%= @expedition.photo %>
          <% end %>
        )'>
        <h1 class="expedition-title"><%= @expedition.title %></h1>
        <p class="expedition-participant-number">(x) participants confirmed</p>
      </div>
      </div>
      <div class="">
        <div class="col-xs-4">
          <div class="lex-days">

            <%= render 'expeditions/organizer_exp_day_box' %>
            <%= link_to "#new-day-modal-#{@expedition.id}", class: "modal-trigger" do %>
            <p class="custom-btn">+ New Day</p>
            <% end %>
            <%= render 'days/new' %>
          </div>
        </div>
        </div>
        <div class="col-xs-8">
          <div class="lex-activities">
            <div class="activity-header">
              <div class="activity-day-header">
                <p>Day</p>
                <p class="day-index">1</p>
              </div>
              <p class="day-name">Day name</p>

              <%= link_to "#new-activity-modal-#{@expedition.id}", class: "modal-trigger" do %>
                <p class="add-activity">+ New Activity</p>
              <% end %>
              <%= render 'activities/new' %>

            </div>
            <div class="activity-box-section">

              <%= render 'expeditions/organizer_exp_activity_box', day: @expedition.days.first %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="right-sidebar">
    <div class="right-sidebar-tabs">
      <div class="col-xs-6">
        <div class="right-sidebar-tab tab-participants">
          <p>Participants</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="right-sidebar-tab tab-feedbacks">
          <p>Feedbacks</p>
        </div>
      </div>
    </div>
    <div class="right-sidebar-content">
      <!-- COLLAPSIBLE MENU -->
      <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="material-icons">view_list</i>View All</div>
            <div class="collapsible-body">
              <%= render 'participations/show' %>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">perm_identity</i>New Participant</div>
            <div class="collapsible-body" style="padding: 5px;">
              <%= render 'participations/new' %>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">done</i>Send All Invites</div>
            <div class="collapsible-body"><p>You are going to send an invit to all the expedition participant. <%= link_to "Send", dashboard_path %></p></div>
          </li>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>
    $(function() {
      $(".day-box").first().click();
    });

    $('.day-box').click(function(){
      console.log($(this).data('day_id'));
      var day_id = $(this).data('day_id');
      var activities_day_id = "#activities_day_id_" + day_id;
      var $day = $(activities_day_id);

      $(".day-activities").addClass("hidden");
      $day.removeClass("hidden", "active");

      var day_index = $("[data-day_id=" + day_id + "] .day-number").text();
      var day_title = $("[data-day_id=" + day_id + "] .day-title").text();
      var day_label = "day"
      var day_concat = day_label.concat(day_title)
      $(".lex-activities .day-name").html(day_concat);
      $(".lex-activities .activity-day-header .day-index").html(day_index);
      debugger;
    })
  </script>
<% end %>





