  <%= render 'shared/lateral_navbar' %>

  <div class="central-content">
    <div class="">
      <div class="">
        <div class="lex-banner" style='background: url(
          <% if current_user.photo.url == nil %>
            <%= "https://unsplash.it/900/200" %>
          <% else %>
            <%= image_tag @expedition.photo %>
          <% end %>
        ')>
      </div>
      </div>
      <div class="">
        <div class="col-xs-3">
          <div class="lex-days">
            <div class="row">
              <div class="day-box">
                <div class="day-box-text">
                  <p>Day 1</p>
                  <p><strong>Day 1 title</strong></p>
                </div>
                <div class="day-box-chevron">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary input-lg">New day</button>
            </div>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="lex-activities">
            <div class="row">
              <p>Title</p>
            </div>
            <div class="row">
              <div class="activity-box hoverable">
                <div class="edit-logo" style="background: url(<%= asset_path 'edit-icon.png' %>")></div>
                <div class="delete-logo" style="background: url(<%= asset_path 'delete-icon.png' %>")></div>
                <p>Activity 1</p>
                <p>activity description</p>
                <div class="">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="resource-box">
                        <p>Resource</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-sidebar">
    <div class="right-sidebar-tabs">
      <div class="">
        <div class="col-xs-6">
          <div class="right-sidebar-tab tab-participants">
            <p>Participants</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="right-sidebar-tab tab-feedbacks">
            <p>Feedbacks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-sidebar-content">
    </div>
  </div>
