  <%= render 'shared/lateral_navbar' %>

  <div class="central-content">
    <div class="">
      <div class="">
        <div class="lex-banner" style='background: url(
          <% if @expedition.photo.url == nil %>
            <%= "https://unsplash.it/900/201" %>
          <% else %>
            <%= @expedition.photo %>
          <% end %>
        )'>
        <h1 class="expedition-title"><%= @expedition.title %></h1>
        <p class="expedition-participant-number">(x) participants confirmed</p>
      </div>
      </div>
      <div class="">
        <div class="col-xs-4">
          <div class="lex-days">

            <%= render 'expeditions/organizer_exp_day_box' %>

            <p class="custom-btn">+ New Day</p>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="lex-activities">
            <div class="activity-header">
              <div class="activity-day-header">
                <p>Day</p>
                <p>1</p>
              </div>
              <p>Day Title</p>

              <%= link_to "#new-activity-modal-#{@expedition.id}", class: "modal-trigger" do %>
                <p class="add-activity">+ New Activity</p>
              <% end %>
              <%= render 'activities/new' %>

            </div>
            <div class="activity-box-section">

              <%= render 'expeditions/organizer_exp_activity_box', day: @expedition.days.first %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-sidebar">
    <div class="right-sidebar-tabs">
      <div class="col-xs-6">
        <div class="right-sidebar-tab tab-participants">
          <p>Participants</p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="right-sidebar-tab tab-feedbacks">
          <p>Feedbacks</p>
        </div>
      </div>
    </div>
    <div class="right-sidebar-content">

      <%= render 'expeditions/organizer_exp_participant_box' %>

      <div class="row">
        <p class="add-participant">+ New Participant</p>
        <%= link_to "New Participant", new_user_path %>


      </div>
    </div>
  </div>


<%= content_for :after_js do %>
  <script>
    $('.day-box').click(function(){
      console.log($(this).data('day_id'));
      var day_id = $(this).data('day_id');
      var activities_day_id = "#activities_day_id_" + day_id;

      console.log(activities_day_id);
      $(".day-activities").addClass("hidden");
      $(activities_day_id).removeClass("hidden", "active");
    })
  </script>
<% end %>





