<!-- ORGANIZER DASHBOARD -->

<div class="container top-padded">
  <% @expeditions.reverse_each do |expedition| %>
    <div class="row">
      <div class="col s12">
        <%= link_to expedition_path(expedition) do %>
          <div class="card my_card small hoverable">
            <div class="card-image">
              <% if expedition.photo.url == nil %>
                <img src="http://placehold.it/500">
              <% else %>
                <%= image_tag expedition.photo.url %>
              <% end %>
              <div class="appearing-btn">
                <!-- BOUTON EDIT EXPEDITION -->
                <%= link_to "#edit-exp-modal-#{expedition.id}", class: "modal-trigger waves-effect waves-light" do %>
                  <div class="btn-floating blue">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </div>
                <% end %>

                <!-- BOUTON DELETE EXPEDITION -->
                <%= link_to expedition_path(expedition), method: :delete do %>
                  <div class="btn-floating red">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                <% end %>
              </div>
              <%= render 'expeditions/edit', expedition: expedition %>
              <span class="card-title"><%= expedition.title %></span>
            </div>
            <div class="card-content">
              <p><%= expedition.description %></p>
              <p>Capacity : <%= expedition.capacity %></p>
              <p>Theme : <%= expedition.theme %></p>
              <p>Programmed from <%= expedition.starts_on %>, to <%= expedition.ends_on %></p>
            </div>
            <!--<div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
