<!-- ORGANIZER DASHBOARD -->
<% if @expeditions.present? %>
  <div class="container top-padded">
  <% @expeditions.each do |expedition| %>
    <div class="dashboard-card-container">
      <div class="row">
        <div class="col s12">
        <%= link_to expedition_path(expedition), style: "text-decoration: none; color:black"  do %>
          <div class="card white darken-1 hoverable z-depth-1">
            <div class="card-content black-text">
              <span class="card-title"><%= expedition.title %></span>
              <div class="row">
                <div class="col s4">
                  <div class="card-image">
                  <% if expedition.photo.url == nil %>
                    <img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg">
                  <% else %>
                    <%= image_tag expedition.photo.url, class: "responsive-img", style: "max-height: 130px; width: auto;" %>
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="col s7">
                <p style=""><%= expedition.starts_on.strftime("%d %b %Y") %> - <%= expedition.ends_on.strftime("%d %b %Y") %></p>
                <p style="font-size: 12px; margin-bottom: 10px;">Confirmed participants : <%= expedition.participations.size %></p>
                <p><%= expedition.description %></p>
              </div>
              <div class="button-dashboard">
                <div class="fixed-action-btn horizontal click-to-toggle" style="position: relative; bottom: 10px; right: 10px; font-size: 10px;">
                  <a class="btn-floating btn-large red">
                    <i class="large material-icons">mode_edit</i>
                  </a>
                  <ul>
                    <li>
                      <%= link_to "#edit-exp-modal-#{expedition.id}", class: "modal-trigger btn-floating green" do %>
                      <i class="material-icons">edit</i>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to expedition_path(expedition), class: "btn-floating red darken1", method: :delete do %>
                      <i class="material-icons">delete</i>
                      <% end %>
                    </li>
                  </ul>
                  <%= render 'expeditions/edit', expedition: expedition %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
<% else %>
  <div class="container top-padded">
    <div class="card-grey text-center padded">
      <h5>You have not created any expedition yet.</h5>
      <h5>Create one to get started.</h5>
    </div>
  </div>
<% end %>


<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>
