

    <!-- Navbar
    ================================================== -->

    <div class="navbar-wagon">
      <!-- Logo -->
      <a href="/" class="navbar-wagon-brand">
        <%= image_tag("logo_expedution.png", :alt => "logo") %>
      </a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">

        <!-- Search form -->
        <!-- <form action="" class="navbar-wagon-search">
          <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
          <button type="submit" class="navbar-wagon-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form> -->

        <!-- Different navigation if login or not -->
        <% if user_signed_in? %>

          <!-- Notification -->
          <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
            <div class="badge-container">
              <i class="fa fa-envelope-o"></i>
              <div class="badge badge-blue">3</div>
            </div>
          <% end %>

          <!-- Profile picture and dropdown -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        <% else %>

          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link green-text hoverable" %>

        <% end %>

        <!-- Button (call-to-action) -->
       <!--  <%= link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %> -->
      </div>

      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Some mobile link</a></li>
            <li><a href="#">Other one</a></li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Hero Section
    ================================================== -->

    <div class="banner img-responsive" style="background-image: linear-gradient(158deg, rgba(243,143,56,0.6) 0%, rgba(242, 126, 80,0.6) 50%), url('http://i.imgur.com/M0qx9fN.jpg');">
      <div class="banner-content">
        <h1>Expedution, blissful innovation.</h1>
        <p>Craft your journey with Expedution</p>
        <a class="waves-effect waves-light waves-purple btn-large green grey-text"><i class="material-icons left">thumb_up</i>DISCOVER NOW</a>
      </div>
    </div>


    <video autoplay  poster="http://susanreep.com/blog/wp-content/uploads/2010/07/Sky-from-plane.jpg" id="bgvid" loop>
      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="" type="video/webm">
    <source src="" type="video/mp4">
    </video>

    <!-- Intro
    ================================================== -->

    <section class="section-intro text-center valign-wrapper">
      <div class="container">
        <h2>powerful Learning expeditions management tool for organisers</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="container text-center">
              <div class="col-md-12">
                <img src="http://i.imgur.com/964q4r6.png" alt="iPad mock" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Features
    ================================================== -->

    <section class="section-features valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="card-feature">
                <div class="card-image hoverable">
                  <img src="http://dummyimage.com/500x300/000/fff" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="card-feature">
                <div class="card-block">
                  <span class="icon-thunderbolt display-1"></span>
                  <h2>See how it works</h2>
                  <p class="card-text">Start to organise your own Learning Expeditions and save countless hours</p>
                  <a class="waves-effect waves-light btn green grey-text"><i class="material-icons left"></i>GET ONBOARD!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Extra features
    ================================================== -->

    <section class="section-extra-features valign-wrapper">
      <div class="container">
        <div class="text-center">
          <h1>check this out</h1>
        </div>
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action activator">
                <a href="#">This is a link</a>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials
    ================================================== -->
    <section class="section-testimonials padded">
     <div class="testimonials-container section-container text-center">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 testimonials section-description">
                  <h2><strong>What they say about us</strong></h2>
                  <div class="divider-1 wow fadeInUp"><span></span></div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
                  <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="testimonial-image">
                          <%= image_tag("face1.jpg", :alt => "face1") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="testimonial-image">
                          <%= image_tag("face2.jpg", :alt => "face2") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="testimonial-image">
                          <img src="assets/img/testimonials/3.jpg" alt="" data-at2x="assets/img/testimonials/3.jpg">
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="testimonial-image">
                          <%= image_tag("face3.jpg", :alt => "face3") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                  </p>
                                </div>
                      </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
     </div>
    </section>

    <!-- Text Content
    ================================================== -->

    <section class="section-text padded">
      <div class="container">
        <h3 class="text-xs-center">Make your mark on the product industry</h3>
        <div class="row p-y-3">
          <div class="col-md-5">
            <p class="wp wp-7">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
          <div class="col-md-5 col-md-offset-2 separator-x">
            <p class="wp wp-8">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer
    ================================================== -->

    <footer class="footer-distributed">
      <div class="footer-left">
        <a href="/" class="navbar-wagon-brand">
        <%= image_tag("logo_expedution.png", :alt => "logo") %>
        </a>
        <p class="footer-links">
          <a href="#">Home</a>
          <a href="#">Blog</a>
          <a href="#">Pricing</a>
          <a href="#">About</a>
          <a href="#">Faq</a>
          <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">Expedution &copy; 2016</p>
        <div class="footer-icons">
          <a href="#" class="green hoverable"><i class="fa fa-facebook grey-text"></i></a>
          <a href="#" class="green hoverable"><i class="fa fa-twitter grey-text"></i></a>
          <a href="#" class="green hoverable"><i class="fa fa-linkedin grey-text"></i></a>
          <a href="#" class="green hoverable"><i class="fa fa-github grey-text"></i></a>
        </div>
      </div>
      <div class="footer-right">
        <p>Contact Us</p>
        <form action="#" method="post">
          <input type="text" name="email" placeholder="Email" />
          <textarea name="message" placeholder="Message"></textarea>
          <a class="waves-effect waves-light btn green grey-text hoverable"><i class="material-icons right">send</i>SIGN UP</a>
        </form>
      </div>
    </footer>

<script>
var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#polina button");

function vidFade() {
  vid.classList.add("stopfade");
}

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed
vid.pause();
// to capture IE10
vidFade();
});


pauseButton.addEventListener("click", function() {
  vid.classList.toggle("stopfade");
  if (vid.paused) {
    vid.play();
    pauseButton.innerHTML = "Pause";
  } else {
    vid.pause();
    pauseButton.innerHTML = "Paused";
  }
})
</script>
