

    <!-- Navbar
    ================================================== -->

<%= render "shared/navbar" %>

    <!-- Hero Section
    ================================================== -->

    <div class="banner img-responsive" style="background-image: linear-gradient(to right, rgba(224, 93, 73,0.6) 0%, rgba(153, 107, 130,0.6) 40%, rgba(87, 135, 198,0.6) 80%, rgba(62, 151, 232,0.6) 100%), url('https://static.pexels.com/photos/527/man-person-people-train.jpg'); height: 75vh;">
      <div class="banner-content">
        <h1>Expedution, move work forward</h1>
        <p>Expedution is the easiest way to craft your learning expeditions, innovation tours...</p>
        <a class="waves-effect waves-light waves-purple btn-large green grey-text white-text" style="text-decoration: none"><strong>CRAFT YOUR ADVENTURE</strong></a>
      </div>
    </div>


    <video autoplay  poster="http://susanreep.com/blog/wp-content/uploads/2010/07/Sky-from-plane.jpg" id="bgvid" loop>
    </video>

    <!-- Intro
    ================================================== -->

    <section class="section-intro text-center valign-wrapper">
      <div class="container">
        <h2>powerful management tool for impressing your clients</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="container text-center materialboxed">
              <div class="col-md-12">
                <img src="http://i.imgur.com/9ZwlxtW.png" alt="iPad mock" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Features
    ================================================== -->

    <section class="section-features valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="card-feature materialboxed">
                <div class="card-image hoverable z-depth-1">
                  <img src="http://i.imgur.com/A24gdAM.png" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-12">
              <div class="card-feature">
                <div class="card-block">
                  <span class="icon-thunderbolt display-1"></span>
                  <h2>See how it works</h2>
                  <p class="card-text">Start to organise your own Learning Expeditions and save countless hours</p>
                  <a class="waves-effect waves-light btn green white-text"><i class="material-icons left"></i>TRY IT TODAY!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Extra features
    ================================================== -->

    <section class="section-extra-features valign-wrapper">
      <div class="container">
        <h3 class="text-center white-text">One tool to rule them all</h1>
        <div class="row padded">
          <div class="col s12 m4 l4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Source</span>
              </div>
              <div class="card-content">
                <p>Easily source thousands of companies thanks to our powerful search engine.</p>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Craft</span>
              </div>
              <div class="card-content">
                <p>User our software to craft your next learning expedition. No more spreadsheets!</p>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://dummyimage.com/500x300/000/fff">
                <span class="card-title activator">Communicate</span>
              </div>
              <div class="card-content">
                <p>Easily manage communication with your participants and receive instant feedbacks</p>
              </div>
              <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials
    ================================================== -->
    <section class="section-testimonials">
     <div class="testimonials-container section-container text-center">
      <div class="container">
      <h3 class="text-center">What they say about us</h3>
          <div class="row">
              <div class="col-sm-12 testimonials section-description">
                  <div class="divider-1 wow fadeInUp"><span></span></div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp">
                  <div role="tabpanel">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                        <div class="testimonial-image">
                          <%= image_tag("face1.jpg", :alt => "face1") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="testimonial-image">
                          <%= image_tag("face2.jpg", :alt => "face2") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="testimonial-image">
                          <img src="assets/img/testimonials/3.jpg" alt="" data-at2x="assets/img/testimonials/3.jpg">
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                                    Lorem ipsum dolor sit amet, consectetur..."<br>
                                    <a href="#">Lorem Ipsum, dolor.co.uk</a>
                                  </p>
                                </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="testimonial-image">
                          <%= image_tag("face3.jpg", :alt => "face3") %>
                        </div>
                        <div class="testimonial-text">
                                  <p>
                                    "Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                                    ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                    lobortis nisl ut aliquip ex ea commodo consequat..."<br>
                                    <a href="#">Minim Veniam, nostrud.com</a>
                                  </p>
                                </div>
                      </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active">
                        <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
                      </li>
                      <li role="presentation">
                        <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
     </div>
    </section>

    <!-- Text Content
    ================================================== -->

    <section class="section-text">
      <div class="container">
        <h3 class="text-center">Make your mark on the product industry</h3>
        <div class="row padded valign-wrapper">
          <div class="col-md-5">
            <p class="wp wp-7">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
          <div class="col-md-5 col-md-offset-2 separator-x">
            <p class="wp wp-8">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer
    ================================================== -->

<%= render "shared/footer" %>

