<div class="container">
  <div id="new-day-modal-<%=@expedition.id %>" class="modal-mat new-day-modal">
    <div class="modal-content" style="padding-left: 50px; padding-right: 50px;">
      <h4 class="center">Add new day</h4>
      <%= simple_form_for [@expedition, Day.new] do |f| %>
      <div class="row">
        <div class="col s12">
          <%= f.input :title, label: "Day title", placeholder: "Title", input_html: {maxlength: 30, style: "border-bottom: 1px solid black;"} %>
          <%= f.input :date, as: :string, label: "Date", input_html: {id: "datepicker", class: "datepicker"} %>
        </div>
      </div>
      <div class="modal-footer center">
        <%= f.submit "add day", class: "btn" %>
        <a href="#!" class="modal-action modal-close btn red">cancel</a>
      </div>
      <% end %>
    </div>
  </div>
</div>

