  <div class="container">
    <div id="new-day-modal-<%=@expedition.id %>" class="modal-mat new-day-modal">
      <div class="modal-content">
        <h4>Add new day</h4>
        <%= simple_form_for [@expedition, Day.new] do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <ul style="display: inline;">
              <li><%= f.input :title, label: "Day title", placeholder: "Title", input_html: {maxlength: 30} %> </li>
              <li> <%= f.input :date, label: "Date", id: "datepicker" %></li>
            </ul>
          </div>
        </div>
      <div class="">
        <%= f.submit "Add day", class: "btn" %>
        <%= link_to "Cancel", expedition_path, class: "btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

