<div class="container">
  <div id="new-day-modal-<%=@expedition.id %>" class="modal-mat new-day-modal">
    <div class="modal-content" style="padding-left: 20px; padding-right: 20px;">
      <h4>Add new day</h4>
      <%= simple_form_for [@expedition, Day.new] do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input_field :title, label: "Day title", placeholder: "Title", input_html: {maxlength: 30} %>
          <%= f.input :date, as: :string, label: "Date", input_html: {id: "datepicker", class: "datepicker"} %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Add day", class: "btn" %>
        <%= link_to "Cancel", expedition_path, class: "btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

