<%= render 'shared/lateral_navbar' %>


  <div class="central-content">
    <div>
      <div>
        <div class="lex-banner" style='background: url(
          <% if @expedition.photo.url == nil %>
            <%= "https://unsplash.it/900/201" %>
          <% else %>
            <%= @expedition.photo %>
          <% end %>
        )'>
        <h1 class="expedition-title"><%= @expedition.title %></h1>
        <%= link_to params.merge(preview: true) do %>
          <div class="preview">Preview</div>
        <% end %>
      </div>
      </div>
      <div>
        <div class="col-xs-4">
          <div class="lex-days">

            <%= render 'days/day_show' %>
            <%= link_to "#new-day-modal-#{@expedition.id}", class: "modal-trigger" do %>
            <p class="custom-btn">+ New Day</p>
            <% end %>
            <%= render 'days/new' %>
          </div>
        </div>
        </div>
        <div class="col-xs-8">
          <div class="lex-activities">
            <div class="activity-header">
              <div class="activity-day-header">
                <p>Day</p>
                <p class="day-index">1</p>
              </div>
              <p class="day-name">Day name</p>
              <a class="btn-library modal-trigger" href="#modal1">Library</a>
              <%= link_to "#new-activity-modal-#{@expedition.id}", class: "modal-trigger" do %>
                <p class="add-activity">+ New Activity</p>
              <% end %>
              <%= render 'activities/new' %>

            </div>
            <div class="activity-box-section">
              <%= render 'expeditions/organizer_exp_activity_box', day: @expedition.days.first %>
              <%#= render 'activities/activity_show', activities: day.activities %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-sidebar">
    <div class="right-sidebar-tabs">
      <ul class="tabs unstyled-tabs">
        <li class="tab col s3"><a class="active" href="#participations">Participations</a></li>
        <li class="tab col s3"><a href="#feedbacks">Feedbacks</a></li>
      </ul>
    </div>
    <br />
    <div class="right-sidebar-content">

      <!-- PARTICIPATIONS COLLAPSIBLE MENU -->
      <div id="participations" class="">
        <div class="row">
          <ul class="collapsible z-depth-0 pp-no-margin" data-collapsible="accordion">
            <li>
              <div class="collapsible-header active"><i class="material-icons">view_list</i>View All (<%= @expedition.participations.size %>)</div>
              <div class="collapsible-body">
                <%= render 'participations/participant_show' %>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">perm_identity</i>New Participant</div>
              <div class="collapsible-body" style="padding: 5px;">
                <%= render 'invitations/new_invitation_form' %>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">done</i>Send All Invites</div>
              <div class="collapsible-body"><p>You are going to send an invite to all the expedition participant. <%= link_to "Send", dashboard_path %></p></div>
            </li>
          </ul>
        </div>
      </div>
      <!-- END OF PARTICIPATIONS LIST -->

      <!-- ALL FEEDBACKS LIST -->
      <div id="feedbacks" class="">
        <ul class="collapsible" data-collapsible="accordion">
          <!-- SHOW ALL ACTIVITIES FOR GIVEN EXPEDITION IN COLLAPSIBLE -->
          <% @activities.each do |activity| %>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">label_outline</i><%= activity.title.first(20) %>...
              </div>
              <!-- RENDER FEEDBACK FOR EACH ACTIVITY -->
              <div class="collapsible-body padded-extra-small font-style1" id="feedbacks">
                <% if activity.feedbacks.present? %>
                  <% activity.feedbacks.reverse_each do |feedback| %>                <%= render 'feedbacks/feedback_show', feedback: feedback %>
                  <% end %>
                <% else %>
                    <p>No Feedbacks Yet</p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- END OF FEEDBACK LIST -->
    </div>
  </div>
</div>


<!-- Modal Structure
 -->

<div id="modal1" class="modal bottom-sheet">
  <div class="library">
    <div class="col s12">
      <ul class="tabs" >
        <li class="tab col s2"><a class="active" href="#finteck-1">#FINTECH</a></li>
        <li class="tab col s2"><a href="#medteck-1">#MEDTECK</a></li>
        <li class="tab col s2"><a href="#legal-1">#LEGAL</a></li>
        <li class="tab col s2"><a href="#space-1">#SPACE</a></li>
        <li class="tab col s2"><a href="#social-1">#SOCIAL</a></li>
        <li class="tab col s2"><a href="#manufacturing-1">#MANUFACTURING</a></li>
      </ul>
    </div>
    <div id="finteck-1" class="col s12">
      <div class="row">
        <div class="col s4 modal-activity-card" style="background-image: url("https://news.artnet.com/wp-content/news-upload/2014/12/arturo-di-modica-charging-bull-1024x682.jpg")">
        xxxx
        </div>
        <div class="col s4 activity-card">
        yyy
        </div>
        <div class="col s4 activity-card">

        </div>
      </div>
    </div>
    <div id="medteck-1" class="col s12">Test 2</div>
    <div id="legal-1" class="col s12">Test 3</div>
    <div id="space-1" class="col s12">Test 4</div>
    <div id="social-1" class="col s12">Test 4</div>
    <div id="manufacturing-1" class="col s12">Test 4</div>
  </div>





<%= content_for :after_js do %>
  <script>
    $(function() {
      $('ul.tabs').tabs();

      $('.day-box').click(function(){
        var day_id = $(this).data('day_id');
        var activities_day_id = "#activities_day_id_" + day_id;
        var $day = $(activities_day_id);

        $(".day-activities").addClass("hidden");
        $day.removeClass("hidden", "active");

        var day_index = $("[data-day_id=" + day_id + "] .day-number").text().match(/\d+/)[0];
        var day_title = $("[data-day_id=" + day_id + "] .day-title").text();
        $(".lex-activities .day-name").html(day_title);
        $(".lex-activities .activity-day-header .day-index").html(day_index);


        if (history.pushState) {
            var newurl = location.protocol + "//" + location.host + location.pathname + '?day=' + day_id;
            history.pushState({path:newurl},'',newurl);
        }
        //debugger;
      })

      // Either we click on the day in the url
      var dayId = location.search.match(/\d+/);
      if (dayId) {
        $(".day-box[data-day_id=" + dayId[0]+ "]").first().click();
      } else {
        // Or the first day
        $(".day-box").first().click();
      }

    });
  </script>
<% end %>
