
<% @expedition.days.each do |day| %>
  <div id="activities_day_id_<%= day.id %>" data-day_id="<%= day.id %>" class="day-activities hidden">
    <% day.activities.order(:starts_on).each do |activity| %>
      <div class="activity-box hoverable">

        <%= link_to "#edit-activity-modal-#{activity.id}", class: "modal-trigger" do %>
          <div class="edit-logo" style="background: url(<%= asset_path 'edit-icon.png' %>")></div>
        <% end %>
        <%= render 'activities/edit', activity: activity %>

        <%= link_to expedition_activity_path(@expedition, activity), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <div class="delete-logo" style="background: url(<%= asset_path 'delete-icon.png' %>")></div>
        <% end %>

        <%= link_to "#new-ressource-modal-#{activity.id}", class: "modal-trigger" do %>
           <p class="add-resource">+ New Resource</p>
        <% end %>
        <%= render 'ressources/new', activity: activity, ressource: Ressource.new(activity: activity) %>

        <% if activity.category == "Flight" %>
          <div class="activity-icon activity-icon-flight" style="background: url(<%= asset_path 'activity-icon-flight.png' %>)"></div>
        <% elsif activity.category == "Hotel" %>
          <div class="activity-icon activity-icon-hotel" style="background: url(<%= asset_path 'activity-icon-hotel.png' %>)"></div>
        <% elsif activity.category == "Transportation" %>
          <div class="activity-icon activity-icon-transportation" style="background: url(<%= asset_path 'activity-icon-transportation.png' %>)"></div>
        <% elsif activity.category == "Restaurant" %>
          <div class="activity-icon activity-icon-restaurant" style="background: url(<%= asset_path 'activity-icon-restaurant.png' %>)"></div>' %>
        <% elsif activity.category == "Meeting" %>
          <div class="activity-icon activity-icon-meeting" style="background: url(<%= asset_path 'activity-icon-meeting.png' %>)"></div>
        <% else %>
        <% end %>

        <% if activity.category == "Flight" %>
          <p class="label-activity label-flight"><%= activity.starts_on.strftime("%I:%M%p") %> DEPARTURE (local time)  |  <%= activity.ends_on.strftime("%I:%M%p") %> ARRIVAL (local time)</p>
        <% elsif activity.category == "Hotel" %>
          <p class="label-activity label-hotel"><%= activity.starts_on.strftime("%I:%M%p") %> CHECK-IN</p>
        <% elsif activity.category == "Transportation" %>
          <p class="label-activity label-transportation"><%= activity.starts_on.strftime("%I:%M%p") %> DEPARTURE (length : <%= activity.ends_on - activity.starts_on %> min)</p>
        <% elsif activity.category == "Restaurant" %>
          <p class="label-activity label-restaurant"><%= activity.starts_on.strftime("%I:%M%p") %></p>
        <% elsif activity.category == "Meeting" %>
          <p class="label-activity label-meeting"> <%= activity.starts_on.strftime("%I:%M%p") %> | <%= activity.ends_on.strftime("%I:%M%p") %></p>
        <% else %>
        <% end %>

        <h2 class="activity-title"><%= activity.title %></h2>
        <p class="activity-description"><%= activity.description %></p>

        <%= link_to "#map-activity", class: "modal-trigger" do %>
          <p class="activity-address"><%= activity.address %></p>
        <% end %>

        <div id="map-activity" class="modal-mat" >
          <div id="map" style="width: 1000px; height: 500px;"></div>
        </div>

      <%= render 'ressources/ressource_show', activity: activity %>

      </div>
    <% end %>
  </div>
<% end %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
