<% activities.each do |activity| %>
  <span class="time-info"><%= activity.starts_on %> <%= activity.category %></span><br>
  <span class="card-title">
    <% if activity.category == "Flight" %>
      <div class="yellow-text">
        <i class="fa fa-plane" aria-hidden="true"></i>
        <%= activity.title %>
      </div>
    <% elsif activity.category == "Hotel" %>
      <i class="fa fa-bed" aria-hidden="true"></i>
    <% elsif activity.category == "Meeting" %>
      <i class="fa fa-street-view" aria-hidden="true"></i>
    <% elsif activity.category == "Restaurant" %>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
    <% else %>
      <i class="fa fa-bus" aria-hidden="true"></i>
      <%= activity.title %>
    <% end %>
  </span>
  <hr>
  <div class="row">
    <div class="col s12">
      <h5><strong>Description</strong></h5>
      <% if activity.description.present? %>
        <p><%= activity.description %></p>
      <% else %>
        <p>No description yet</p>
      <% end %>
      <hr>
      <ul class="list-unstyled">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header" id="new-feedback"><i class="material-icons">chat_bubble</i>Leave a feedback</div>
          <%= render 'feedbacks/feedback_new', activity: activity %>
        </li>
        <li>
          <div class="collapsible-header" id="show-feedback"><i class="material-icons">comment</i>Feedbacks</div>
          <div class="collapsible-body padded-extra-small font-style1" id="feedbacks_<%= activity.id %>">
            <% if activity.feedbacks.present? %>
              <% activity.feedbacks.reverse_each do |feedback| %>
                <%= render 'feedbacks/feedback_show', feedback: feedback, activity: activity %>
              <% end %>
            <% else %>
                <p>No Feedbacks Yet</p>
            <% end %>
          </div>
        </li>
        <li>
          <div class="collapsible-header" id="show-ressources"><i class="material-icons">subtitles</i>Ressources</div>
          <%= render 'ressources/ressource_show', activity: activity %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
