<div id="edit-activity-modal-<%= activity.id %>" class="modal-mat" style="background-color: white" >
  <div class="container" style="font-weight: lighter; padding-top:10px">
    <h3 class="modal-title text-center">Edit your activity</h3>
    <div class="row">
      <div class="col s12">
        <%= simple_form_for [@expedition, activity] do |f| %>
            <%= f.input :title, label: "Activity name", input_html: {maxlength: 30, style: "border-bottom: 1px solid black;"} %>
            <%= f.input :category, collection: Activity::ACTIVITY_CATEGORY %>
            <%= f.input :starts_on, as: :string, label: "Start time", input_html: { class: "timepicker" } %>
            <%= f.input :ends_on, as: :string, label: "End time", input_html: { class: "timepicker" } %>
            <% days = @expedition.days %>
            <%= f.input :day_id, collection: days.map(&:formatted_date).zip(days.map(&:id)) %>
            <%= f.input :address, label: "Address", input_html: {maxlength: 100, style: "border-bottom: 1px solid black;"} %>
            <%= f.input :description, label: "Activity description", input_html: {maxlength: 1000} %>
          <div class="input-file-container">
            <%= f.input :photo, label: "add a picture", input_html: { class: "hidden" }%>
            <p class="file-return"></p>
          </div>
            <%#= f.input :photo_cache, as: :hidden %>
      </div>
    </div>
    <div class="modal-footer center">
      <%= f.submit "Submit", class: "btn" %>
      <a href="#!" class="modal-action modal-close btn red">cancel</a>
    </div>
    <% end %>
  </div>
</div>


<%= content_for :after_js do %>
  <script>
    $( ".import-file-container label").on( "click", function() {
       $('#activity_photo').focus();
       return false;
    });

    $('#activity_photo').change(function(e) {
        $(".file-return").html(this.value);
    });
  </script>

<% end %>
