<div id="new-activity-modal-<%=@expedition.id%>" class="modal" >
  <div class="container">
    <h3 class="text-center">Create your activity</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 card-form">
        <%= simple_form_for @activities do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.input :title, label: "Activity name", placeholder: "Activity name", input_html: {maxlength: 30} %>

            <%#= f.input :category, collection: Activity::ACTIVITY_CATEGORY, prompt: "Activity type" %>

            <%#= f.input :day_id, collection: @expedition.days.map(&:id), prompt: "Activity day" %>

            <%= f.input :description, label: "Activity description", input_html: {maxlength: 1000}, placeholder: "Provide an activity description" %>
            <%= f.input :address, label: "Address", input_html: {maxlength: 100}, placeholder: "Location" %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= f.input :starts_on, label: "Start time", id: "datepicker" %>
            <%= f.input :ends_on, label: "End time" %>
            <%= f.submit "Add activity", class: "btn btn-success" %>
            <%= link_to "Cancel", expedition_path, class: "btn btn-danger" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>
