<!DOCTYPE html>
<html>
  <head>
    <title>Expedution</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon"
          type="image/png"
          href="http://i.imgur.com/9EcL68j.png">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= javascript_include_tag "https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&sensor=false" %>

  <%= javascript_include_tag "https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>

  <%= javascript_include_tag "application" %>

    <%= yield :after_js %>
  </body>
</html>
